
.navbar-brand {
  font-size: 1.5rem; /* Ajusta el tamaño de la fuente del nombre de la marca/logo */
  color: #000; /* El color del texto del logo */
}

.nav-link {
  color: black  ; /* El color del texto de los enlaces de navegación */
  margin-right: 1rem; /* Añade un margen a la derecha de cada enlace de navegación */
}

.nav-link.active {
  color: red !important;
  
}

.navbar-toggler {
  border-color: #000; /* El color del borde del botón de conmutación (hamburguesa) */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  /* Un icono de hamburguesa personalizado, ajusta el color con `stroke` en el SVG */
}
